body {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  width: 100%;
  height: 100vh;
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  background-color: #0b0f1c;
}

/* --------------------------------- IMAGE --------------------------------- */

.images-container {
  min-width: 100%;
  min-height: 70%;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
}

#img-1,
#img-2,
#img-3,
#img-4,
#img-5 {
  width: 100%;
  height: 100%;
  display: none;
}

#img-1 {
  background-image: url(./images/y0OP5LLqNac.jpg);
}
#img-2 {
  background-image: url(./images/0TagmOfveFQ.jpg);
}
#img-3 {
  background-image: url(./images/bX5HZebgml4.jpg);
}
#img-4 {
  background-image: url(./images/dNmX8OTCBCo.jpg);
}
#img-5 {
  background-image: url(./images/hxW1jLxybsg.jpg);
}

#img-1,
#img-2,
#img-3,
#img-4,
#img-5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#first-image:checked ~ .images-container>#img-1,
#second-image:checked ~ .images-container>#img-2,
#third-image:checked ~ .images-container>#img-3,
#fourth-image:checked ~ .images-container>#img-4,
#fifth-image:checked ~ .images-container>#img-5 {
  display: block;
  animation: 500ms ease-in-out 1 alternate slidemove;
}

/* --------------------------------- IMAGE --------------------------------- */

/* --------------------------------- DISCRIPTION --------------------------------- */

.discription-container {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  color: #0099ff;
}



.first-image-discription,
.second-image-discription,
.third-image-discription,
.fourth-image-discription,
.fifth-image-discription {
  display: none;
}

#first-image:checked ~ .discription-container>.first-image-discription,
#second-image:checked ~ .discription-container>.second-image-discription,
#third-image:checked ~ .discription-container>.third-image-discription,
#fourth-image:checked ~ .discription-container>.fourth-image-discription,
#fifth-image:checked ~ .discription-container>.fifth-image-discription {
  display: block;
  animation: 500ms ease-in-out 1 alternate text-animation;
}

/* --------------------------------- DISCRIPTION --------------------------------- */

/* --------------------------------- INPUT LABELS --------------------------------- */

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 3em;
}

.input-label {
  display: block;
  width: 1em;
  height: 1em;
  background-color: #0099ff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-label:hover {
  background-color: #4d4aff;
}

#first-image:checked ~ .input-container>.first-label, 
#second-image:checked ~ .input-container>.second-label, 
#third-image:checked ~ .input-container>.third-label, 
#fourth-image:checked ~ .input-container>.fourth-label, 
#fifth-image:checked ~ .input-container>.fifth-label {
  background-color: transparent;
  border: 5px solid #4d4aff;
}

/* --------------------------------- INPUT LABELS --------------------------------- */

/* --------------------------------- INPUTS --------------------------------- */

input {
  display: none;
}

/* --------------------------------- INPUTS --------------------------------- */

/* --------------------------------- ANIMATION --------------------------------- */

@keyframes slidemove {
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes text-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* --------------------------------- ANIMATION --------------------------------- */


@media (max-width: 60em) {
  .discription-container {
    width: 100%;
  }
  .images-container {
    min-height: 30%;
  }
}